.App h1 {
  text-align: center;
}
button, input[type="submit"] {
    cursor: pointer;
}
/* -----GuestList----- */
.GuestList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.GuestList button {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 25px;
}

/* -----GuestForm----- */
.GuestForm  {
    padding: 20px 30px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin: 0 auto 25px auto;
    row-gap: 10px;
}

.GuestForm input[type="submit"] {   
    margin-top: 20px;
}

/*-----GuestList-----*/
table {
    margin: 10px;
    border: 1px solid;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

thead  {
    background: #ccc;
    font-weight: 700;
}
td {
    padding: 5px;
}

tbody tr:nth-child(even) {
    background: #eee;
}